policy_module(mb8coin, 1.100.1)

########################################
#
# Declarations
#

type mb8coin_t;
type mb8coin_exec_t;
init_daemon_domain(mb8coin_t, mb8coin_exec_t)

permissive mb8coin_t;

type mb8coin_initrc_exec_t;
init_script_file(mb8coin_initrc_exec_t)

type mb8coin_conf_t;
files_type(mb8coin_conf_t)

type mb8coin_var_lib_t;
files_type(mb8coin_var_lib_t)

type mb8coin_var_run_t;
files_type(mb8coin_var_run_t)

type mb8coin_port_t;
corenet_port(mb8coin_port_t)

########################################
#
# mb8coin local policy
#
allow mb8coin_t self:process { fork };

allow mb8coin_t self:fifo_file rw_fifo_file_perms;
allow mb8coin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(mb8coin_t, mb8coin_conf_t, mb8coin_conf_t)
manage_files_pattern(mb8coin_t, mb8coin_conf_t, mb8coin_conf_t)

manage_dirs_pattern(mb8coin_t, mb8coin_var_lib_t, mb8coin_var_lib_t)
manage_files_pattern(mb8coin_t, mb8coin_var_lib_t, mb8coin_var_lib_t)
files_var_lib_filetrans(mb8coin_t, mb8coin_var_lib_t, { dir file })

manage_dirs_pattern(mb8coin_t, mb8coin_var_run_t, mb8coin_var_run_t)
manage_files_pattern(mb8coin_t, mb8coin_var_run_t, mb8coin_var_run_t)

sysnet_dns_name_resolve(mb8coin_t)
corenet_all_recvfrom_unlabeled(mb8coin_t)

allow mb8coin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(mb8coin_t)
corenet_tcp_sendrecv_generic_node(mb8coin_t)
corenet_tcp_sendrecv_all_ports(mb8coin_t)
corenet_tcp_bind_generic_node(mb8coin_t)

gen_require(`
    type mb8coin_port_t;
')
allow mb8coin_t mb8coin_port_t:tcp_socket name_bind;

gen_require(`
    type mb8coin_port_t;
')
allow mb8coin_t mb8coin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(mb8coin_t)

files_read_etc_files(mb8coin_t)

miscfiles_read_localization(mb8coin_t)

sysnet_dns_name_resolve(mb8coin_t)

allow mb8coin_t mb8coin_exec_t:file execute_no_trans;
allow mb8coin_t self:process setsched;
corecmd_exec_ls(mb8coin_t)
corenet_tcp_connect_http_port(mb8coin_t)
dev_read_urand(mb8coin_t)
fs_getattr_xattr_fs(mb8coin_t)
kernel_read_system_state(mb8coin_t)
